flows.json
[
    {
        "id": "60dc7544128990ea",
        "type": "tab",
        "label": "GS_EDGE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6b06d730484a97a",
        "type": "mqtt in",
        "z": "60dc7544128990ea",
        "name": "",
        "topic": "TOPICO_POT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12af0bce6d4551e1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "7dd645071c45d3ef",
                "9dcf6f2f14deae4d",
                "0ac33a0a06d27c9d",
                "79db4286d31a88b2"
            ]
        ]
    },
    {
        "id": "7dd645071c45d3ef",
        "type": "debug",
        "z": "60dc7544128990ea",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "9dcf6f2f14deae4d",
        "type": "ui_text",
        "z": "60dc7544128990ea",
        "group": "c6b5452c47b91b28",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potencia",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "0ac33a0a06d27c9d",
        "type": "ui_gauge",
        "z": "60dc7544128990ea",
        "name": "",
        "group": "c6b5452c47b91b28",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medição de Potencia",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "79db4286d31a88b2",
        "type": "ui_chart",
        "z": "60dc7544128990ea",
        "name": "",
        "group": "c6b5452c47b91b28",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Potencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6b2e598069c57626",
        "type": "debug",
        "z": "60dc7544128990ea",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "7e1557975a64a77c",
        "type": "ui_text",
        "z": "60dc7544128990ea",
        "group": "895e39d53b39a3e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "6a7e3d706c907f63",
        "type": "ui_gauge",
        "z": "60dc7544128990ea",
        "name": "",
        "group": "895e39d53b39a3e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medição de corrente",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "6e59ca3536d8e86d",
        "type": "ui_chart",
        "z": "60dc7544128990ea",
        "name": "",
        "group": "895e39d53b39a3e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Corrente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2d3b8c05e603e15c",
        "type": "mqtt in",
        "z": "60dc7544128990ea",
        "name": "",
        "topic": "TOPICO_CORRENTE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12af0bce6d4551e1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "7e1557975a64a77c",
                "6a7e3d706c907f63",
                "6e59ca3536d8e86d",
                "6b2e598069c57626"
            ]
        ]
    },
    {
        "id": "12af0bce6d4551e1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "23.22.163.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c6b5452c47b91b28",
        "type": "ui_group",
        "name": "Medição de Potencia",
        "tab": "88e2bf4e69dd512c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "895e39d53b39a3e2",
        "type": "ui_group",
        "name": "Medição de corrente",
        "tab": "88e2bf4e69dd512c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88e2bf4e69dd512c",
        "type": "ui_tab",
        "name": "Monitoramento IoT ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]